@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap');

body {
    font-family: 'Sarabun', sans-serif;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

footer {
    font-size: xx-small;
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
}

strong {
    color: rgb(172, 173, 255);
}